---
title: Welcome !
layout: page
---

<p>
Welcome on the blog of the <b>i-SoMPE</b> project !
</p>

<p>
You will find various categories of post linked
</p>
<ul class="org-ul">
<li>to the various scientific part of our project</li>
<li>to the 25 partners</li>
<li>to results and main outputs</li>
<li>useful readings, tutorials, resources, &#x2026;</li>
<li>and to other administrive, legal, &#x2026;</li>
</ul>



<h3 ><a href="{{site.baseurl}}/about/"> Main presentation of the project</a></h3>
