<div class='intro'>
  <img src='/images/about/profile.png' alt='John Doe' class='no-border'/>
  <h1>
    <span class="gray">John</span>
    <span class="black">Doe</span>
  </h1>
  <p>Emacser</p>
</div>

<div class='nav'>
<ul>
<li><a href='/'>Blog</a>.</li>
<li><a href='http://gitlab.com/'>GitLab</a>.</li>
<li><a href='https://www.reddit.com/user/'>Reddit</a>.</li>
<li><a href='/index.xml'>RSS</a>.</li>
<li><a href='/about/'>About</a></li>
</ul>
</div>
