---
title: About
layout: page
---

<p>
This is the main blog / website of the project &ldquo;i-SoMPE&rdquo; on Innovative Soil Management Practices across Europe.
</p>


<figure id="orgc67b749">
<img src="../img/logo.png" alt="logo.png" width="25%">

</figure>

<section id="outline-container-org3416a9a" class="outline-2">
<h2 id="org3416a9a">In a nutshell</h2>
<div class="outline-text-2" id="text-org3416a9a">
<p>
Innovative soil management practices (SMP) and agricultural systems are promoted to enhance ecosystem services in order to minimise soil threats and sustain agriculture in a climate change context. A comprehensive stocktake of SMPs and their ability to succeed on multiple goals, agricultural production, ecosystem services, biogeochemical cycles, is missing. By using a surveying approach, i-SoMPE will aim to documents innovative SMP. The data gathered will be synthesized considering technical and ecological constrains and socio-economic barriers. Context-specific thematic maps will be provided to guide farmers, researchers and policy makers to suitable SMP for climate-smart agriculture. i-Sompe is part the European Joint Programme Cofund on Agricultural Soil Management (EJP SOIL).
</p>
</div>
</section>

<section id="outline-container-org255dc8b" class="outline-2">
<h2 id="org255dc8b">Context</h2>
<div class="outline-text-2" id="text-org255dc8b">
<p>
The agricultural sector is a major user of natural resources and has a complex relationship with the environment. It plays an important role in land use patterns across Europe, with grassland and cropland making together 39% of total land cover. Since the late 1950s, the advances in agronomy, genetics, and chemistry significantly specialized European farming systems by relying on a few improved high-yielding species. However, the strong simplification and intensification of European farming systems miss the goals of sustainability and environmental quality such as groundwater pollution, greenhouse gas emissions, soil erosion, loss of biodiversity, and reduction of agroecosystem services.
</p>

<p>
Soil management is a corner stone of farming systems and has a pivotal role between a cultivated ecosystem on the one hand and a technical, social and economic system on the other hand (Figure 1). Soil acts as a buffer for water resources and for maintaining nutrient cycles, its fertility and health has always had a direct influence on the productivity of food and farming systems.
</p>

<p>
Since the second half of XXth century, new issues are challenging the sustainability of contemporary farming systems. Considering their central position, soils and their management have been identified as having a crucial role for:
</p>
<ul class="org-ul">
<li>Climate change mitigation (carbon sequestration)</li>
<li>Climate change adaptation (resilient farming systems)</li>
<li>Sustainable agricultural production and other eco-system services (e.g. water regulation)</li>
</ul>

<p>
Therefore, the adoption of low-input and innovative SMP (e.g. reducing tillage intensity, organic and mixed fertilization, crop residue management, and optimizing water use efficiency for irrigated systems), crop diversification associations (e.g. rotation, intercropping, and multiple cropping) and more general innovative farming practices (agroforestry, deep rooting crops, organic farming, integrated crop-livestock production, farm scale biogas production) in intensive agricultural systems might help to enhance agroecosystem resilience to environmental stress, to improve sustainability of food production systems  and to preserve soils from degradation.
</p>


<figure id="org7083eae">
<img src="../img/context_c.png" alt="context_c.png" width="75%">

</figure>
</div>
</section>

<section id="outline-container-orgcd3446d" class="outline-2">
<h2 id="orgcd3446d">The i-SoMPE project</h2>
<div class="outline-text-2" id="text-orgcd3446d">
<p>
Innovative SMPs will be at the core of the project.  Some innovative soil management and farming practices can address major EJP SOIL targets “good agricultural soil management for: climate change mitigation and adaptation, sustainable production, ecosystem services and less soil degradation”. Many European farmers are open to introduce technological innovations and sustainable management practices to make their farms more climate-smart and sustainable, but need guidelines on effective pathways to do so. Moreover, innovative technical solutions (e.g. precision farming) are often not affordable for the farmers and other barriers can also occur (e.g. no market for innovative agricultural products, climatic constraints or socio-cultural lock-ins).
</p>
</div>
</section>

<section id="outline-container-org9192e60" class="outline-2">
<h2 id="org9192e60">Expected outputs</h2>
<div class="outline-text-2" id="text-org9192e60">
<p>
Our project will produce an inventory of innovative and well-known SMPs for climate-smart and sustainable soil management. Furthermore we will produce an interactive tool and maps that allow the investigation of the SMPs potentials.
</p>


<figure id="orgf9865d1">
<img src="../img/montage.png" alt="montage.png" width="75%">

</figure>
</div>
</section>

<section id="outline-container-orgc9bdfe3" class="outline-2">
<h2 id="orgc9bdfe3">Coordination</h2>
<div class="outline-text-2" id="text-orgc9bdfe3">
<ul class="org-ul">
<li>Dr Ir Frédéric Vanwindekens, Dr Ir Bruno Huyghebaert (Belgium, Wallonia - CRA-W - Centre wallon de recherches agronomiques)</li>
<li>Dr. Claudia Di Bene, Dr. Pasquale Nino (Italia - CREA - Council for Agricultural Research and Economics)</li>
<li>Olivier Heller, Dr. Peter Weisskopf  (Switzerland - AGS - Agroscope)</li>
</ul>


<figure id="org648c896">
<img src="../img/montage_logos_coord.png" alt="montage_logos_coord.png" width="75%">

</figure>
</div>
</section>

<section id="outline-container-org1bde5c4" class="outline-2">
<h2 id="org1bde5c4">Partners</h2>
<div class="outline-text-2" id="text-org1bde5c4">

<figure id="org2a233d2">
<img src="../img/mosaic_logos_partners.jpg" alt="mosaic_logos_partners.jpg" width="75%">

</figure>
</div>
</section>

<section id="outline-container-orgaa9ec7c" class="outline-2">
<h2 id="orgaa9ec7c">Further information</h2>
<div class="outline-text-2" id="text-orgaa9ec7c">
<dl class="org-dl">
<dt>blog</dt><dd><a href="https://isompe.gitlab.io/blog/">https://isompe.gitlab.io/blog/</a></dd>
<dt>email</dt><dd><a href="mailto:isompe@cra.wallonie.be">isompe@cra.wallonie.be</a></dd>
<dt>social networks</dt><dd>#isompe @EJPSOIL</dd>
</dl>
</div>
</section>

<section id="outline-container-orgf5eda93" class="outline-2">
<h2 id="orgf5eda93">i-Sompe is part of EJP SOIL</h2>
<div class="outline-text-2" id="text-orgf5eda93">

<figure id="org9e9e748">
<img src="../img/EJP_Soil_logo_cmyk-h100.png" alt="EJP_Soil_logo_cmyk-h100.png" width="25%">

</figure>

<p>
EJP SOIL is a European Joint Programme Cofund on Agricultural Soil Management contributing to key societal challenges including climate change, water and future food security.  
</p>

<p>
The objectives are to develop knowledge, tools and an integrated research community to foster climate-smart sustainable agricultural soil management that:
</p>
<ul class="org-ul">
<li>Allows sustainable food production</li>
<li>Sustains soil biodiversity</li>
<li>Sustains soil functions that preserves ecosystem services</li>
</ul>

<p>
More information on the EJP SOIL web site : <a href="https://projects.au.dk/ejpsoil/">https://projects.au.dk/ejpsoil/</a>
</p>
</div>
</section>
