---
layout: post
title: An template for a post
date: 2021-01-06
category: tuto
---

<p>
<i>This is in Italic</i> and <b>this is bold</b> and <span class="underline">this is how underlined looks</span>. We
can also use <code>verbatim</code> or <code>code</code>. Use <del>strikethrough</del> if
needed.<sup><a id="fnr.1" class="footref" href="#fn.1" role="doc-backlink">1</a></sup><sup>, </sup><sup><a id="fnr.2" class="footref" href="#fn.2" role="doc-backlink">2</a></sup>
</p>

<section id="outline-container-org41dd08d" class="outline-2">
<h2 id="org41dd08d">HTML snippet:</h2>
<div class="outline-text-2" id="text-org41dd08d">
<div class="org-src-container">
<pre class="src src-html">&lt;<span class="org-function-name">html</span>&gt;
  &lt;<span class="org-function-name">h1</span>&gt;&lt;/<span class="org-function-name">h1</span>&gt;
&lt;/<span class="org-function-name">html</span>&gt;
</pre>
</div>
</div>
</section>

<section id="outline-container-org2cf634a" class="outline-2">
<h2 id="org2cf634a">Python snippet with line numbers:</h2>
<div class="outline-text-2" id="text-org2cf634a">
<div class="org-src-container">
<pre class="src src-python"><span class="linenr"> 1: </span><span class="org-keyword">from</span> contextlib <span class="org-keyword">import</span> contextmanager
<span class="linenr"> 2: </span>
<span class="linenr"> 3: </span><span class="org-type">@contextmanager</span>
<span class="linenr"> 4: </span><span class="org-keyword">def</span> <span class="org-function-name">tag</span>(name):
<span class="linenr"> 5: </span>    <span class="org-builtin">print</span>(<span class="org-string">"&lt;%s&gt;"</span> <span class="org-operator">%</span> name)
<span class="linenr"> 6: </span>    <span class="org-keyword">yield</span>
<span class="linenr"> 7: </span>    <span class="org-builtin">print</span>(<span class="org-string">"&lt;/%s&gt;"</span> <span class="org-operator">%</span> name)
<span class="linenr"> 8: </span>
<span class="linenr"> 9: </span><span class="org-keyword">with</span> tag(<span class="org-string">"h1"</span>):
<span class="linenr">10: </span>    <span class="org-builtin">print</span>(<span class="org-string">"foo"</span>)
</pre>
</div>
</div>
</section>

<section id="outline-container-org4ad0519" class="outline-2">
<h2 id="org4ad0519">Emacs Lisp snippet</h2>
<div class="outline-text-2" id="text-org4ad0519">
<div class="org-src-container">
<pre class="src src-emacs-lisp">(message <span class="org-string">"foo-bar"</span>)
</pre>
</div>
</div>
</section>

<section id="outline-container-org4a9e570" class="outline-2">
<h2 id="org4a9e570">Github Gist:</h2>
<div class="outline-text-2" id="text-org4a9e570">
<script src="https://gist.github.com/psachin/97708deb39aa60484c95a9df6f535ba6.js"></script>
</div>
</section>

<section id="outline-container-org2d9cad5" class="outline-2">
<h2 id="org2d9cad5">Gitlab Snippet</h2>
<div class="outline-text-2" id="text-org2d9cad5">
<script src="https://gitlab.com/snippets/1790218.js"></script>
</div>
</section>

<section id="outline-container-orgd4e382b" class="outline-2">
<h2 id="orgd4e382b">Below is the content of <code>.gitlab-ci.yml</code>:</h2>
<div class="outline-text-2" id="text-orgd4e382b">
<div class="org-src-container">
<pre class="src src-conf">stages:
  - build-org
  - publish

org-generation:
  image:
    name: iquiw/alpine-emacs
  cache:
    key: org-files
    paths:
      - .timestamps
      - elpa/
  script:
    - emacs --batch --no-init-file --load publish.el --funcall org-publish-all
  stage: build-org
  artifacts:
    paths:
      - _posts

pages:
  image: ruby:2.7
  cache:
    key: jekyll
    paths:
      - vendor/
  script:
    - gem install bundler
    - bundle config set --local path <span class="org-string">'vendor'</span>
    - bundle install
    - bundle exec jekyll build -d public
  stage: publish
  artifacts:
    paths:
      - public
</pre>
</div>
</div>
</section>

<section id="outline-container-orga2444a6" class="outline-2">
<h2 id="orga2444a6">Center aligned image with no border:</h2>
<div class="outline-text-2" id="text-orga2444a6">

<figure id="org2479360">
<img src="../images/posts/template/Spring19-fan-of-fsf.png" alt="Spring19-fan-of-fsf.png" class="center no-border">

</figure>
</div>
</section>

<section id="outline-container-org8b533a7" class="outline-2">
<h2 id="org8b533a7">Image with Black border:</h2>
<div class="outline-text-2" id="text-org8b533a7">

<figure id="org658e530">
<img src="../images/posts/template/Spring19-fan-of-fsf.png" alt="Spring19-fan-of-fsf.png" class="black-border">

</figure>
</div>
</section>
<section id="outline-container-orgf7988f5" class="outline-2">
<h2 id="orgf7988f5">Image with spaced border:</h2>
<div class="outline-text-2" id="text-orgf7988f5">

<figure id="orgacaec32">
<img src="../images/posts/template/Spring19-fan-of-fsf.png" alt="Spring19-fan-of-fsf.png" class="spaced-border">

</figure>
</div>
</section>
<section id="outline-container-org3cb4ba8" class="outline-2">
<h2 id="org3cb4ba8">Image with rounded corners:</h2>
<div class="outline-text-2" id="text-org3cb4ba8">

<figure id="org35ba697">
<img src="../images/posts/template/Spring19-fan-of-fsf.png" alt="Spring19-fan-of-fsf.png" class="rounded-border">

</figure>
</div>
</section>

<section id="outline-container-orgcfe38a2" class="outline-2">
<h2 id="orgcfe38a2">Image with rounded corners and border:</h2>
<div class="outline-text-2" id="text-orgcfe38a2">

<figure id="org38a1844">
<img src="../images/posts/template/Spring19-fan-of-fsf.png" alt="Spring19-fan-of-fsf.png" class="rounded-border black-border">

</figure>
</div>
</section>

<section id="outline-container-orgea4a1ce" class="outline-2">
<h2 id="orgea4a1ce">Image with Caption:</h2>
<div class="outline-text-2" id="text-orgea4a1ce">

<figure id="org9a0c820">
<img src="../images/posts/template/Spring19-fan-of-fsf.png" alt="Spring19-fan-of-fsf.png">

<figcaption><span class="figure-number">Figure 1: </span>Fan of FSF</figcaption>
</figure>
</div>
</section>

<section id="outline-container-orgb7cd660" class="outline-2">
<h2 id="orgb7cd660">Image with 40% width:</h2>
<div class="outline-text-2" id="text-orgb7cd660">

<figure id="orgef4020e">
<img src="../images/posts/template/Spring19-fan-of-fsf.png" alt="Spring19-fan-of-fsf.png" width="40%">

</figure>
</div>
</section>

<section id="outline-container-org3647fd2" class="outline-2">
<h2 id="org3647fd2">Table:</h2>
<div class="outline-text-2" id="text-org3647fd2">
<table align="center">


<colgroup>
<col  class="org-left">

<col  class="org-left">
</colgroup>
<thead>
<tr>
<th scope="col" class="org-left">Specs</th>
<th scope="col" class="org-left">&#xa0;</th>
</tr>
</thead>
<tbody>
<tr>
<td class="org-left">Brand</td>
<td class="org-left">Vostok</td>
</tr>

<tr>
<td class="org-left">Class</td>
<td class="org-left">Amphibia</td>
</tr>

<tr>
<td class="org-left">Model</td>
<td class="org-left">670927</td>
</tr>

<tr>
<td class="org-left">Movement</td>
<td class="org-left">2415</td>
</tr>

<tr>
<td class="org-left">Winding</td>
<td class="org-left">Manual + Automatic</td>
</tr>

<tr>
<td class="org-left">Jewels</td>
<td class="org-left">31</td>
</tr>

<tr>
<td class="org-left">Power reserve</td>
<td class="org-left">&lt; 33 hrs.</td>
</tr>

<tr>
<td class="org-left">WR</td>
<td class="org-left">20 ATM</td>
</tr>

<tr>
<td class="org-left">Dial</td>
<td class="org-left">41mm</td>
</tr>

<tr>
<td class="org-left">Lug width</td>
<td class="org-left">20mm</td>
</tr>

<tr>
<td class="org-left">Strap material</td>
<td class="org-left">Silicon</td>
</tr>

<tr>
<td class="org-left">Dial material</td>
<td class="org-left">Steel</td>
</tr>

<tr>
<td class="org-left">Dial shape</td>
<td class="org-left">Round</td>
</tr>

<tr>
<td class="org-left">Bezel</td>
<td class="org-left">(smooth)Rotating</td>
</tr>
</tbody>
</table>
</div>
</section>
<div id="footnotes">
<h2 class="footnotes">Footnotes: </h2>
<div id="text-footnotes">

<div class="footdef"><sup><a id="fn.1" class="footnum" href="#fnr.1" role="doc-backlink">1</a></sup> <div class="footpara" role="doc-footnote"><p class="footpara">
Visit <a href="https://orgmode.org/org.html">The Org Manual</a> for more detail.
</p></div></div>

<div class="footdef"><sup><a id="fn.2" class="footnum" href="#fnr.2" role="doc-backlink">2</a></sup> <div class="footpara" role="doc-footnote"><p class="footpara">
It&rsquo;s easy to publish org-mode pages via <a href="https://about.gitlab.com/gitlab-ci/">GitLab CI</a> and <a href="https://pages.gitlab.io/">Pages</a>.
</p>

<div class='comments'><div id='disqus_thread'></div><script type='text/javascript'>var disqus_shortname = 'johndoe-example-com'; (function() {var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;	dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq); })(); </script>  <noscript>Please enable JavaScript to view the <a href='http://disqus.com/?ref_noscript'>comments powered by Disqus.</a></noscript></div></div></div>


</div>
</div>