:root {
    --r-background-color: #fff;
    --ejp-light-brown: #bc9f77;
    --ejp-brown: #9c8157;
    --ejp-light-blue: #72cce7;
    --ejp-blue: #01bbd6;
    --ejp-light-green: #9ebd2e;
    --ejp-green: #82a53d;
    --craw-red: #C8102E;
    --craw-green: #009A44;
    --main-project-color: var(--craw-red);
    --second-project-color: var(--craw-green)
}

.reveal .title:before{
    background-image: url(./images/logo-craw.png);
}
