:root {
    --r-background-color: #fff;
    --ejp-light-brown: #bc9f77;
    --ejp-brown: #9c8157;
    --ejp-light-blue: #72cce7;
    --ejp-blue: #01bbd6;
    --ejp-light-green: #9ebd2e;
    --ejp-green: #82a53d;
    --main-project-color: #82a53d;
    --second-project-color: var(--ejp-brown)
}

.reveal .title:before{
    background-image: url(./images/iSoMPE_logo_simple.png);
}
