---
title: Coordination
layout: page
---

<section id="outline-container-orge8073b6" class="outline-2">
<h2 id="orge8073b6">Coordination</h2>
<div class="outline-text-2" id="text-orge8073b6">
</div>
<div id="outline-container-org4573f4d" class="outline-3">
<h3 id="org4573f4d">CRA-W (Belgium, Wallonia - Centre wallon de recherches agronomiques)</h3>
<div class="outline-text-3" id="text-org4573f4d">
<ul class="org-ul">
<li>Dr Ir Frédéric Vanwindekens (project leader)</li>
<li>Dr Ir Bruno Huyghebaert (Project Communication Representative)</li>
</ul>
</div>
</div>

<div id="outline-container-orga57cc96" class="outline-3">
<h3 id="orga57cc96">CREA (Italia - Council for Agricultural Research and Economics)</h3>
<div class="outline-text-3" id="text-orga57cc96">
<ul class="org-ul">
<li>Dr. Claudia Di Bene (project co-leader)</li>
<li>Dr. Pasquale Nino (project co-leader)</li>
</ul>
</div>
</div>


<div id="outline-container-org9d01099" class="outline-3">
<h3 id="org9d01099">AGS (Switzerland - AGS - Agroscope)</h3>
<div class="outline-text-3" id="text-org9d01099">
<ul class="org-ul">
<li>Olivier Heller (project co-leader)</li>
<li>Dr. Peter Weisskopf</li>
</ul>


<figure id="org2a3e18a">
<img src="../img/montage_logos_coord.png" alt="montage_logos_coord.png" width="75%">

</figure>
</div>
</div>
</section>

<section id="outline-container-orgc916686" class="outline-2">
<h2 id="orgc916686">Who&rsquo;s who ?</h2>
<div class="outline-text-2" id="text-orgc916686">
</div>
<div id="outline-container-org0c10604" class="outline-3">
<h3 id="org0c10604">Claudia Di Bene</h3>
<div class="outline-text-3" id="text-org0c10604">

<figure id="orgc84d442">
<img src="../img/whoswho_cdb.png" alt="whoswho_cdb.png" width="133px">

</figure>
</div>
</div>

<div id="outline-container-org002418a" class="outline-3">
<h3 id="org002418a">Pasquale Nino</h3>
<div class="outline-text-3" id="text-org002418a">

<figure id="orge39a07e">
<img src="../img/whoswho_pn.png" alt="whoswho_pn.png" width="133px">

</figure>
</div>
</div>

<div id="outline-container-org415285b" class="outline-3">
<h3 id="org415285b">Olivier Heller</h3>
<div class="outline-text-3" id="text-org415285b">

<figure id="org91d6834">
<img src="../img/whoswho_oh.JPG" alt="whoswho_oh.JPG" width="133px">

</figure>
</div>
</div>

<div id="outline-container-org245b95d" class="outline-3">
<h3 id="org245b95d">Frédéric Vanwindekens</h3>
<div class="outline-text-3" id="text-org245b95d">

<figure id="orgcd29634">
<img src="../img/whoswho_fvw.JPG" alt="whoswho_fvw.JPG" width="133px">

</figure>
</div>
</div>
</section>
