---
title: EJP SOIL & other projects
layout: page
---



<figure id="orgb0b7e9e">
<img src="../img/EJP_Soil_logo_cmyk-h100.png" alt="EJP_Soil_logo_cmyk-h100.png" width="25%">

</figure>


<p>
EJP SOIL is a European Joint Programme Cofund on Agricultural Soil Management contributing to key societal challenges including climate change, water and future food security.  
</p>

<p>
The objectives are to develop knowledge, tools and an integrated research community to foster climate-smart sustainable agricultural soil management that:
</p>
<ul class="org-ul">
<li>Allows sustainable food production</li>
<li>Sustains soil biodiversity</li>
<li>Sustains soil functions that preserves ecosystem services</li>
</ul>

<section id="outline-container-org82117ad" class="outline-2">
<h2 id="org82117ad">Targets &amp; Objectives</h2>
<div class="outline-text-2" id="text-org82117ad">
<p>
The overall goal of the EJP SOIL is to build a sustainable European integrated research system on agricultural soils and develop and deploy a reference framework on climate-smart sustainable agricultural soil management. 
</p>

<p>
The EJP SOIL programme targets key societal challenges such as food and water security, sustainable agricultural production, climate change adaptation and mitigation; ecosystem services delivery, biodiversity preservation and human health and well being.  
</p>
</div>

<div id="outline-container-orgd6ba4f6" class="outline-3">
<h3 id="orgd6ba4f6">Objectives:</h3>
<div class="outline-text-3" id="text-orgd6ba4f6">
</div>
<div id="outline-container-orge04e5fe" class="outline-4">
<h4 id="orge04e5fe">Societal level:</h4>
<div class="outline-text-4" id="text-orge04e5fe">
<ul class="org-ul">
<li>Rise general public awareness and foster improved societal understanding of agricultural soil management and its contribution to sustainable agricultural production, climate change adaptation, mitigation, and all other ecosystem services delivery and environment protection, and more specifically of the large climate change mitigation potential via agricultural soil organic carbon sequestration</li>
</ul>
</div>
</div>

<div id="outline-container-org98a09ed" class="outline-4">
<h4 id="org98a09ed">Operational level:</h4>
<div class="outline-text-4" id="text-org98a09ed">
<ul class="org-ul">
<li>Strengthen the European research community on agricultural soil management, through an alignment and implementation of research, training and capacity building</li>
<li>Develop harmonized agricultural soil information systems and promote their adoption to contribute to international reporting and achieve global consistency and applicability of agricultural soil information, including on soil carbon and biodiversity</li>
</ul>
</div>
</div>

<div id="outline-container-orgaccd41b" class="outline-4">
<h4 id="orgaccd41b">Policy level:</h4>
<div class="outline-text-4" id="text-orgaccd41b">
<ul class="org-ul">
<li>Develop evidence-based recommendations for policy makers at EU, national, and regional levels including options for farm level documentation of agricultural soil carbon sequestration from improved soil management practices</li>
<li>Establish a strategic multi-actor approach and initiate a science-policy-practitioner-society dialogue on agricultural soil health and adequate agricultural practices to support the adoption of the policy recommendations</li>
<li>Foster the uptake of climate-smart sustainable agricultural soil management practices by practitioners</li>
</ul>
</div>
</div>

<div id="outline-container-orga46945b" class="outline-4">
<h4 id="orga46945b">Scientific level:</h4>
<div class="outline-text-4" id="text-orga46945b">
<ul class="org-ul">
<li>Develop new insights on climate-smart agricultural soil management, quantify trade-offs and synergies between sustainable agricultural production, climate change adaptation and mitigation, soil degradation, biodiversity, soil quality and other ecosystem services such as erosion control, to build a reference framework for sustainable agricultural soil management</li>
<li>Develop new knowledge on carbon sequestration in agricultural soils under different conditions across Europe and its contribution to climate change mitigation. Improve accounting and reporting tools for emission and removals from agricultural activities</li>
<li>Provide scientific underpinning to support agricultural and climate policies at multiple scales (local to global)</li>
</ul>
</div>
</div>
</div>
</section>

<section id="outline-container-org99a7682" class="outline-2">
<h2 id="org99a7682">Other selected projects for the first call :</h2>
<div class="outline-text-2" id="text-org99a7682">
<p>
<a href="https://projects.au.dk/research-projects/">https://projects.au.dk/research-projects/</a>
</p>
</div>
</section>

<section id="outline-container-orgddc3a69" class="outline-2">
<h2 id="orgddc3a69">Sources</h2>
<div class="outline-text-2" id="text-orgddc3a69">
<ul class="org-ul">
<li>Sources of information <a href="https://projects.au.dk/ejpsoil/">https://projects.au.dk/ejpsoil/</a></li>
<li>More information on the EJP SOIL web site : <a href="https://projects.au.dk/ejpsoil/">https://projects.au.dk/ejpsoil/</a> and <a href="mailto:lcb@dca.au.dk">Line Carlenius Berggreen</a></li>
</ul>
</div>
</section>
